.container {
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
}
h1 {
    text-align: center;
}

.line {
    margin-bottom: 1em;
}

.controls {
    display: table;
    margin:  1em auto;
}

.controls a {
    margin-left: 1em;
    margin-right: 1em;
}

span {
    background-color: yellow;
}
.oko {
    background-color: green;
    color: white;
}
.spo {
    background-color: orange;
    color: white;
}
.kult {
    background-color: pink;
    color: white;
}
.hver {
    background-color: Beige;
}
.pol {
    background-color: gold;
}
.krim {
    background-color: red;
    color: white;
}

.button-error,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
